<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.steelejr.e4.examples.app"
            application="at.bestsolution.efxclipse.runtime.workbench.fx.application">
         <property
               name="appName"
               value="e4 Examples">
         </property>
         <property
               name="applicationXMI"
               value="com.steelejr.e4.examples.app/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.steelejr.e4.examples.app/css/default.css">
         </property>
      </product>
   </extension>

</plugin>
